<mat-nav-list role="list">
    <div class="container">
        <div class="container container-items">
            <div class="div-group-item">
                <div class="div-title-item">
                    <h4 class="title-admin">Hola! </h4>
                </div>
                <div class="div-content-item">
                    <a mat-list-item (click)="onLogout()" class="items-sidenav"><mat-icon color="primary">meeting_room</mat-icon>Cerrar sesion</a>
                </div>
                
                <mat-divider class="title-divider"></mat-divider>
            </div>
        </div>
        
    </div>
</mat-nav-list>