.title-sidenav{
    padding-left: 10%;
    color: #3f51b5;
    font-weight: 500;
}

.title-divider{
    margin: auto;
    width: 60%;
}

.title-admin{
    
    padding: 5% 0% 0% 10%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #3f51b5;

}

.items-sidenav{
    font-size: small;
}

.div-content-item .mat-icon{
    margin-right: 5px;
}
